<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/img/weather.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>About Page</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam sint quae doloremque accusamus placeat
            impedit eaque voluptas maxime sapiente illo a voluptatum sed mollitia, odio itaque tempora, quasi iusto.
            Distinctio.</p>
        <img class="portarit" src="./img/pic1.png" alt="pic1">
    </div>
    {{>footer}}
</body>

</html>