<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/img/weather.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Help Desk</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h2>{{name}}</h2>
        <h2>{{age}}</h2>
        <h2>{{contact}}</h2>
    </div>
    {{>footer}}
</body>

</html>